<main class="container nt-5">

<LinkTo @route="cart">
  <i class="fa fa-shopping-cart"></i>
</LinkTo>
  <div class="card">
    <LinkTo @route="item" @model="1">
        Product 1
    </LinkTo>
  </div>

 <div class="card">
    <LinkTo @route="item" @model="2">
        Product 2
    </LinkTo>
  </div>

  
 
</main>